body {
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 2rem 5rem 2rem;
}

h1,
h2,
h3 {
  margin-top: 2em;
  line-height: 1.2;
}

h1 {
  margin-bottom: 0;
  font-size: 3rem;
}

h3 {
  margin-top: 1em;
}

p {
  font-size: 1rem;
}

.subtitle {
  margin-top: 0.5rem;
  font-weight: bold;
}

a {
  color: seagreen;
  text-decoration: none;
}

a:hover {
  color: mediumseagreen;
  border-bottom: mediumseagreen 2px solid;
}
