
@font-face {
  font-family: "sf-fedora";
  src: url("C:\\Users\\Fergus\\Documents\\GitHub\\Fergieboi.github.io\\fonts\\sf-fedora\\TrueType\\SFFedoraShadow.ttf");
}

.Indianna-background {
  background: linear-gradient(#500101 0%, #c00101 20%, #d46103 70%, #ffc82f 100%); 
  background-repeat: no-repeat;
  min-height: 100vh;
}

.columns {
  column-count: 2;
}

.blue-background {
    background-color: aquamarine;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.blue-style-text {
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-top: 20px;
    margin-left: 20px;
}

.title {
  font-family: 'sf-fedora';
  color: white;
}

.bold-title {
    font-family: 'Roboto', sans-serif;
    font-size: 200;
    text-align: center;
    color: white;
}

.bold-white-body {
    font-family: 'Roboto', sans-serif;
    font-size: 50;
    text-align: center;
    color: white;
}

.bold-white-body a {
    color: rgb(125, 216, 252);
    text-decoration: none;
}